<html>
<head>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	
</script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<title>Twitter</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container" ng-controller="tweetController">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/homepage"><span
						class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-flash"
						aria-hidden="true"></span>&nbsp;Moments</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-bell"
						aria-hidden="true"></span>&nbsp;Notifications</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-envelope"
						aria-hidden="true"></span>&nbsp;Messages</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-center">
				<li><span><img src="/images/twitterbird.png" height="40"
						style="padding-top: 10px;"></span></li>
			</ul>
			<ul class="nav navbar-nav navbar-right"
				ng-controller="tweetController">
				<li>

					<form class="form-inline">
						<div class="form-group has-feedback" style="padding-top: 10px;">
							<input type="text" class="form-control" placeholder="Search"
								name="search" id="search" ng-model="searchValue">

							<button class="btn btn-default " type="submit"
								ng-click="search()">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

					</form>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false" style="width: 50px;"> <img
						src="/images/avatar.jpg" width="140%" style="margin-top: -5px;"></a>
					<ul class="dropdown-menu">
						<li><a ng-click="userprofile()">View profile</a></li>

						<li><a href="#">Lists</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Keyboard shortcuts</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Settings</li>
						<li><a ng-click="logout()">Log out</a></li>
					</ul></li>
				<li>
					<div class="form-group" style="padding-top: 10px;">
						<div class="col-sm-1">
							<button style="background-color: #339CC3; height: 30px">
								<img src="/images/twitterButton2.png" width="80">
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container" ng-app="twitterApp"
		ng-controller="followController" ng-submit="followUser()"
		ng-init="initialize()">
		<div class="row row-content">
			<div class="col-xs-12 col-sm-4" style="padding-top: 20px;">
				<div class="col-sm-12">
					<img src="/images/avatar.jpg" class="col-sm-6" height="100">
					<div style="padding-top: 60px;">
						<label><%= data.firstname %></label>
						<div class="row">
							<span>@<%= data.username %></span>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="padding-top: 10px;">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<div class="col-sm-offset-1 col-sm-4">
								<button type="submit" class="btn btn-primary">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									{{toFollow ? 'Follow':'UnFollow'}}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8" style="padding-top: 20px;">
				<div class="col-sm-12" style="padding-top: 10px;"></div>

				<div class="col-sm-12">
					<form class="form-horizontal" role="form" action="#"></form>
				</div>

				<div class="col-sm-12">
					<div>
						<a href="#"></a>
					</div>
					<div>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../angularjs/app.js"></script>
</body>
</html>